PORT=
BI_RATE_API_TOKEN=
CNBC_CACHE_TTL_MS=10000
CNBC_POLL_ENABLED=true
CNBC_POLL_INTERVAL_SEC=10
BI_RATE_POLL_ENABLED=true
BI_RATE_POLL_INTERVAL_SEC=10
BI_FX_POLL_ENABLED=true
BI_FX_POLL_INTERVAL_SEC=10
